<div class="rooms-wrapper">
    <form>
        <md-input-container flex>
          <label>New room</label>
          <input type="text" ng-model="newRoom">
          <md-button class="md-raised" ng-click="createRoom()">Create</md-button>
        </md-input-container>
    </form>
    <md-list-item class="md-3-line" ng-repeat="room in rooms track by $index" ng-click="enterRoom(room);">
      <div class="md-list-item-text" layout="column">
        <h3>{{ room.name }}</h3>
        <p>{{ room.users.length }} online</p>
      </div>
    </md-list-item>
</div>
